@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

.editItem-editItemContainer {
    border: 1px solid #CC4B3E;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 0.2rem 0.2rem;
    border-radius: 25px;
}

.editItem-editItemContainer label {
    font-size: 12px;
    color: #FAF2CC;
}

.editItem-editItemContainer p {
    font-size: 12px;
    color: #FAF2CC;
}

.editItem-editItemTitleContainer {
    border-bottom: 1px solid #BAC267;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 1em;
}

.editItem-buttonsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.editItem-qrcode {
    height: 80px;
    margin-right: 1em;
    margin-top: 1em;
}

.editItem-editItemInfoContainer {
    border-radius: 25px;
}


.editItem-editItemContainerRowOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
    width: 100%;
}

.editItem-editItemNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0.2rem 0.2rem; */
}

.editItem-editCommsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.editItem-editTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editItem-editCommsOptionContainer {
    padding: 0.2rem 0.2rem;
}




