@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

.foundItem-foundItemInfoContainer {
    /* border: 1px solid #CC4B3E; */
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 0.2em 0.2em;
    /* border-radius: 15px; */
    border-radius: 	0.938em;
    background-color: #bfd7ee;
}

.foundItem-foundItemInfoContainer label {
    /* font-size: 12px; */
    /* color: #a52d22; */
    /* border-bottom: 1px solid #fefffe; */
    /* background-color: #bfd7ee; */
    /* align-self: flex-start; */
}

label {
    color: #a52d22;
    border-bottom: 1px solid #fefffe;
    background-color: #bfd7ee;
    align-self: flex-start;
}


.foundItem-foundItemInfoContainer p {
    /* font-size: 14px; */
    font-size: .875em;
    /* color: #FAF2CC; */
    color: #a52d22;
    background-color: inherit;
    border-radius: inherit;
    padding-left: .5em;
    padding-top: .5em;
}

.foundItem-foundItemInfoContainer h1, h3 {
    /* font-size: 12px; */
    /* color: #FAF2CC; */
    color: #a52d22;
    background-color: #bfd7ee;
}

h4 {
    margin-top: .5em;
    margin-bottom: .5em;
    /* background-color: #bfd7ee; */
    background-color: #dfebf6;
    color: #373f51;
    padding: 1em;
    /* border-radius: 15px; */
    border-radius: 	0.938em;
}

.foundItem-itemMessage {
    background-color: #bfd7ee;
}

.foundItem-thanksContainer {
    /* border-bottom: 1px solid #BAC267; */
    width: 100%;
    display: flex;
    padding: 0.2em 0.2em;
    display: row;
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 1em;
    /* border-radius: 15px; */
    border-radius: 	0.938em;
    background-color: #bfd7ee;
    text-align: center;
}

.foundItem-foundItemTitleContainer {
    border-bottom: 1px solid #BAC267;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2em 0.2em;
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 1em;
}

.foundItem-foundItemContainerRowOne {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.2rem;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    background-color: #bfd7ee;
    /* border-radius: 15px; */
    border-radius: 	0.938em;
}

.foundItem-viewNameandMessage {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bfd7ee;
}

.foundItem-itemNameState {
    display: flex;
    flex-direction: column;
    background-color: #bfd7ee;
} 

.findeeMessageBox {
    margin-top: .5em;
    color: #a52d22;
    resize: none;
    margin-bottom: 1em;
}
.findeeMessageBoxName, .findeeMessageBoxNumber {
    margin-bottom: .5em;
    margin-top: .5em;
    /* color: #a52d22; */
    /* height: 4em; */
}

.foundItem-foundItemContainerRowTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #bfd7ee;
}

.foundItem-foundItemContainerRowTwo h3 {
    color: #FAF2CC;
    border-bottom: 1px solid #BAC267;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #bfd7ee;
}

.foundItem-foundItemFindeeMessageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfebf6;
    margin-top: 1em;
    /* border-radius: 15px; */
    border-radius: 	0.938em;
}

.foundItem-foundItemFindeeMessageForm textarea, input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* background-color: #dfebf6; */
    /* margin-top: 1em; */
    /* border-radius: 5px; */
    width: 85%;
    /* max-height: 100px; */
    /* height: 100px; */
    /* font-size: 12pt; */
    font-size: 1.2em;
    color: #373f51;
    resize: none;
    margin-bottom: .5em;
    margin-top: .5em;
}




