@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

.home-userHomeContainer {
    /* border: 1px dashed black; */
    border: 1px solid #CC4B3E;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 0.2rem 0.2rem;
}

button {
    background-color: #FAF2CC; 
    /* pointer-events: auto; */
}

.home-userHomeContainer label {
    font-size: 12px;
    /* color: #757575; */
    color: #FAF2CC;
}

.home-userHomeContainer p {
    font-size: 12px;
    color: #FAF2CC;
    /* color: #CC4B3E; */
}

.home-accountInfo {
    display: flex;
    flex-direction: column;
}

.home-accountTitleContainer p {
    font-size: 12px;
}

.home-accountTitleContainer {
    /* border-bottom: 1px solid #CC4B3E; */
    border-bottom: 1px solid #BAC267;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1em;
}

.home-userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
    
}

.home-contact {
    display: flex;
    flex-direction: row;
}

.home-email {
    margin-right: 3rem;
}

.home-trackedItemsContainer {
    padding: 0.2rem 0.2rem;
}

.home-trackedItemsTitleContainer {
    /* border-bottom: 1px solid #CC4B3E; */
    border-bottom: 1px solid #BAC267;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1em;
}

.home-trackedItemsTitleContainer p {
    font-size: 12px;
}

.home-trackedItemsContainer {
    margin-bottom: 1em;
}

.home-trackedItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
}

.home-itemNameContainer {
    width: 33%;
}

.home-commPrefContainer {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: space-evenly;
}

.home-phoneCheckBox {
    display: flex;
    flex-direction: column;
}

.home-textCheckBox {
    display: flex;
    flex-direction: column;
}

.home-emailCheckBox {
    display: flex;
    flex-direction: column;
}

.home-editItemButtonContainer {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
