@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header {
    display: flex;
}

.logo {
    height: 100px;
    position: absolute;
    margin-top: 5rem;
    margin-left: 2rem;
}

.qrcode {
    height: 80px;
}

body {
    display: flex;
}

.app {
    border: 1px solid black;
    height:700px;
    width:700px;
    margin-top: 3rem;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

.newItem {
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    /* border: 1px dashed black; */
    width: 85%;
}

.newItemTitleContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: space-between; 
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
}

.newItemContainerRowOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
}

.newCommsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; 
}

.newItemInfoContainer {
    /* padding: 0.2rem 0.2rem; */
    /* border: 1px dashed black; */
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.newTitleContainer {
    display: flex;
    display: column;
} 

.newCommsOptionContainer {
    padding: 0.2rem 0.2rem;
}



