@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');


header {
    display: flex;
}

.logo {
    height: 100px;
    position: absolute;
    margin-top: 5rem;
    margin-left: 2rem;
}

body {
    display: flex;
}

.app {
    border: 1px solid black;
    height:700px;
    width:700px;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.newItem {
    display: flex;
    flex-direction: column;
    /* border: 1px dashed black; */
    position: relative;
    margin-top: -10rem;
    width: 85%;
}

.newItemTitleContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: space-between; 
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
}

.newItemInfoContainer {
    margin-top: .5rem;
}

.newItemContainerRowOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
    width: 100%;
}

.qrcode {
    height: 80px;
}

.newCommsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.newTitleContainer {
    display: flex;
    flex-direction: row; 
} 

.newCommsOptionContainer {
    padding: 0.2rem 0.2rem;
}



