@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

.viewItem-viewItemContainer {
    border: 1px solid #CC4B3E;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.2rem 0.2rem;
    border-radius: 25px;
}

.viewItem-viewItemContainer label {
    font-size: 12px;
    color: #FAF2CC;
}

.viewItem-viewItemContainer p {
    font-size: 12px;
    color: #FAF2CC;
}

.viewItem-viewItemTitleContainer {
    border-bottom: 1px solid #BAC267;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.2rem;
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 1em;
}

.viewItem-qrcode {
    height: 80px;
    margin-right: 1em;
    margin-top: 1em;
}

.viewItem-viewItemInfoContainer {
    border-radius: 25px;
}

.viewItem-viewItemContainerRowOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
    width: 100%;
    flex-wrap: wrap;
}

.viewItem-viewItemNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.viewItem-viewCommsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.viewItem-viewTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewItem-viewCommsOptionContainer {
    padding: 0.2rem 0.2rem;
}

.viewItem-viewItemMessage {
    margin-top: .5em;
    color: #BAC267;
    resize: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.viewItem-viewItemMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2em;
    margin-top: 1em;
}

input {
    border: none;
}

.viewItem-viewPhoneComms, .viewItem-viewEmailComms {
    color: #CC4B3E;
}