@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fefffe; 
    font-family: 'Roboto', sans-serif;
}

.navBarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: column;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: #FAF2CC;  */
    /* background-color: fefffe;  */
    border-radius: 25px 25px 0px 0px;
}

.navBar {
    padding-left: 3.5rem;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    background-color: #FAF2CC; 
}

.navBarButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #FAF2CC; 
}

.navBarButtons i {
    padding: 0.2rem 1rem;
    background-color: #FAF2CC;
    color: #2C4246; 
}

.navBarButtons i:hover {
    color: #BAC267; 
}

.navBarButtons i:active {
    color: #CC4B3E; 
}

.logoOne img {
    /* max-height: 100px; */
    max-width: 100%;
    /* background-color: #FAF2CC;  */
    background-color: #fefffe; 
}

.logoOne {
    /* background-color: #FAF2CC;  */
    background-color: #fefffe; 
    align-self: flex-start;
    margin-top: 2em;
    margin-left: 2.5em;
    /* margin-bottom: 1em; */
}

.app {
    /* border: 1px solid #CC4B3E; */
    border-radius: 25px;
    margin: 0 auto;
    max-height:700px;
    max-width:700px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #2C4246;  */
    background-color: #fefffe; 
}

h5 {
    color: #BAC267;
}

/* Color Palette */
/* 2C4246  dark green  */
/* 54837A lighter green */
/* BAC267 lime green */
/* FAF2CC offwhite */
/* CC4B3E red  */
