.modal-wrapper {
    border: 1px solid #CC4B3E;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    border-radius: 25px;
}

.modal-header {
    background: #373f51;
    height: 50px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
    border-radius: 25px 25px 0px 0px;
}

.modal-header h4 {
    color: #fff;
    background-color: inherit;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
    border-radius: 0px 0px 25px 25px; 
    height: 50px;
}

.modal-body p {
    color: #373f51
}

.close-modal-btn {
    background-color: inherit;
}

.close-modal-btn i {
    /* padding: 0.2rem 1rem; */
    background-color: #fff;
    color: #a52d22; 
    cursor: pointer;
}

.close-modal-btn i:hover {
    color: #BAC267; 
}